.alert{
    background: #fff;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 35%;
    top: 10px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #591794;
}
.showAlert{
    opacity: 1;
    pointer-events: auto;
    z-index: 100000;
}
.alert .fa-circle-check{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #591794;
}
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
}
.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
    color: #591794;
}
.alert .close-btn:hover{
    color: #7131aa;
}